<div class="container-fluid bg-light">
    <nav class=" navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <h1 class="navbar-brand" href="#">
                <i class="bi bi-app"></i>
                Archlan Builders
            </h1>
    </nav>

    <div class="mt-3 border border-secondary rounded-top rounded-bottom  container  ">
        {{#with response}}
        <form method="post" action='/updateItem/{{_id}}'>

            <div class="row  mt-2 g-2">
                <div class="col-md-8 form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" name="Item" id="Item" value="{{Item}}" placeholder="Item">
                    <label for="Item">Item</label>
                </div>
                <div class="col-md-4 form-floating mt-3 mb-3 ">
                    <input type="number" class="form-control" name="Thickness" id="thickness" value="{{Thickness}}"
                        placeholder="Thickness">
                    <label for="thickness">Thickness</label>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-md-3 form-floating mb-3 ">
                    <input type="number" class="form-control" name="Width" id="widthInput" value="{{Width}}"
                        placeholder="Width">
                    <label for="widthInput">Width</label>
                </div>
                <div class="col-md-3 form-floating mb-3">
                    <input type="number" class="form-control" name="Height" id="heightInput" value="{{Height}}"
                        placeholder="Height">
                    <label for="heightInput">Height</label>
                </div>
                <div class="col-md-2 form-floating mb-3">
                    <input type="number" class="form-control" name="QTY" id="qtyInput" value="{{QTY}}"
                        placeholder="QTY">
                    <label for="qtyInput">Qty</label>
                </div>
                <div class="col-md-4 form-floating mb-3">
                    <input type="number" readonly class="form-control" name="TotalSQFT" id="totalSqftInput"
                        value="{{TotalSQFT}}" placeholder="Total SQFT">
                    <label for="totalSqftInput">Total SQFT</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="text" class="form-control" id="Remarks" name="Remarks" value="{{Remarks}}"
                        placeholder="Remarks">
                    <label for="Item">Remarks</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="text" class="form-control" id="Finish" name="Finish" value="{{Finish}}"
                        placeholder="Finish">
                    <label for="Finish">Finish</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="number" class="form-control" name="RateSQFT" value="{{RateSQFT}}" id="rateInput"
                        placeholder="Rate SQFT">
                    <label for="rateInput">Rate SQFT</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="number" readonly class="form-control" name="Amount" value="{{Amount}}" id="amountInput"
                        placeholder="Amount">
                    <label for="amountInput">Amount</label>
                </div>
            </div>
            <div align="center">
                <button type="submit button" class=" btn btn-primary">Update</button>
            </div>

        </form>
        {{/with}}

    </div>

</div>