<section  style="padding-top: 6em;padding-bottom:5em;" class=" container-fluid bg-light">

    <div class="card rounded mx-2 mb-2 mt-3  border border-muted   ">
        <p class="fs-3 text-center fw-light text-muted">Update Item </p>
        {{#with response}}
        {{!-- <form method="post" action='/viewjobcard/updateItem/{{_id}}/{{../JobCardNO}}'>

            <div class="row mx-1  mt-2 g-2">
                <div class="col-md-8 form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" name="Item" id="Item" value="{{ItemName}}"
                        placeholder="Item">
                    <label for="Item">Item</label>
                </div>
                <div class="col-md-4 form-floating mt-3 mb-3 ">
                    <input type="number" class="form-control" name="Thickness" id="thickness" value="{{Thickness}}"
                        placeholder="Thickness">
                    <label for="thickness">Thickness</label>
                </div>
            </div>

            <div class="row g-2 mx-1">
                <div class="col-md-3 form-floating mb-3 ">
                    <input type="number" class="form-control widthInput" name="Width" id="" value="{{Width}}"
                        placeholder="Width">
                    <label for="widthInput">Width</label>
                </div>
                <div class="col-md-3 form-floating mb-3">
                    <input type="number" class="form-control heightInput" name="Height" id="" value="{{Height}}"
                        placeholder="Height">
                    <label for="heightInput">Height</label>
                </div>
                <div class="col-md-2 form-floating mb-3">
                    <input type="number" class="form-control qtyInput" name="QTY" id="" value="{{QTY}}"
                        placeholder="QTY">
                    <label for="qtyInput">Qty</label>
                </div>
                <div class="col-md-4 form-floating mb-3">
                    <input type="number" readonly class="form-control totalSqftInput" name="TotalSQFT" id=""
                        value="{{TotalSQFT}}" placeholder="Total SQFT">
                    <label for="totalSqftInput">Total SQFT</label>
                </div>
            </div>
            <div class="row g-2 mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="text" class="form-control" id="Remarks" name="Remarks" value="{{Remarks}}"
                        placeholder="Remarks">
                    <label for="Item">Remarks</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="text" class="form-control" id="Finish" name="Finish" value="{{Finish}}"
                        placeholder="Finish">
                    <label for="Finish">Finish</label>
                </div>
            </div>
            <div class="row g-2 mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="number" class="form-control rateInput" name="RateSQFT" value="{{RateSQFT}}" id=""
                        placeholder="Rate SQFT">
                    <label for="rateInput">Rate SQFT</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="number" readonly class="form-control amountInput" name="Amount" value="{{Amount}}" id=""
                        placeholder="Amount">
                    <label for="amountInput">Amount</label>
                </div>
            </div>
            <div align="center">
                <a href='/viewjobcard/{{../JobCardNO}}' type=" button" class="text-white btn btn-primary">Cancel </a>
                <button type="submit button" class=" btn btn-primary">Update</button>
            </div>

        </form> --}}
        {{/with}}

    </div>

</section>