<section style="padding-top: 6em;padding-bottom:5em;" class=" container-fluid bg-light">

    {{#with response}}

    <div class="card rounded mx-2 mb-3 mt-4  border border-muted ">

        <div class="card-body">
            <h5 class="card-title">Job Card No: {{_id}} </h5>
            <div class="row">

                <div class="col-md-6">
                    <p style="display: inline;" class=" text-lg card-text "><b>Site Name:</b> {{SiteName}} </p>
                </div>
                <div align='right' class=" col-md-6">
                    <p class="ms-auto  card-text"><b>Date: </b> {{Date}} </p>
                </div>

            </div>

        </div>
    </div>

    {{/with}}



    <div class="card shadow-sm rounded  mx-2 mb-3 mt-4  border border-muted ">
        <div class="card-body rounded ">


            <table id='itemTable' class="col-md-12  table  table-white border-secondary table-hover table-bordered  ">
                <thead class="bg-dark text-white">
                    <tr>
                        <th colspan="2"></th>

                        <th colspan='3'>
                            <center>All Size in MM</center>
                        </th>
                          {{#with response }}
                        <th colspan='7'>
                            <div align='right' class="p-2">
                                <button id="addItemBtn" onclick='addItem()' type="submit  button"
                                    class="mx-auto btn btn-outline-primary">Add Item</button>
                                <button onclick='downloadExcel('{{_id}}')' type="submit  button"
                                    class="mx-auto btn btn-outline-primary">Download Excel</button>

                            </div>
                        </th>
                    </tr>

                    <tr>
                        <th style="width: 1%;">SL</th>
                        <th style="width: 15%;">Item</th>
                        <th style="width: 5%;">Thickness</th>
                        <th style="width: 5%;">Width</th>
                        <th style="width: 5%;">Height</th>
                        <th style="width: 5%;">QTY</th>
                        <th style="width: 7%;">TOTAL SQ.FT</th>
                        <th style="width: 15%;">REMARKS</th>
                        <th style="width: 10%;">FINISH</th>
                        <th style="width: 10%;">RATE-SQFT</th>
                        <th style="width: 10%;">Amount</th>
                        <th style="width: 4px;%;">Update</th>
                       
                    </tr>

                </thead>
                <tbody id='itemTableBody'>
                  
                    {{#each Items}}
                
                        <tr>
                            <td id="serialNO"></td>
                            <td> {{ItemName}}</td>
                            <td>{{Thickness}}</td>
                            <td>{{Width}}</td>
                            <td>{{Height}}</td>
                            <td>{{QTY}}</td>
                            <td>{{TotalSQFT}}</td>
                            <td>{{Remarks}}</td>
                            <td>{{Finish}}</td>
                            <td>{{RateSQFT}}</td>
                            <td>{{Amount}}</td>
                            <td style="display: flex;">
                                <a  href="editItem/{{_id}}/{{../_id}}" type=" button" class="mx-auto btn btn-outline-primary"><i
                                        class="bi bi-pen"></i></a>
                                <a onclick="deleteItem('{{_id}}','{{ItemName}}','{{Thickness}}','{{width}}','{{Height}}','{{QTY}}','{{TotalSQFT}}','{{RateSQFT}}','{{Amount}}', {{../_id}})"
                                    type="button" class="ms-1 btn btn-outline-primary"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>

                        </tr>
                        {{/each}}

                </tbody>

            </table>

            <div class="container row">


                <div align='left' class=" col-md-12">
                    <p class="  card-text"><b>Total Amount: </b> {{TotalAmount}} </p>
                </div>
                <div class="col-md-12">
                    <p class=" text-lg card-text "><b>Total Amount in Words:</b> {{../TotalamountInWords}} </p>
                </div>

            </div>

            {{/with}}
        </div>
    </div>

    <div id="addItemDiv" hidden class="card rounded mx-2 mb-2 mt-3  border border-muted   ">
        <p class=" fs-3 text-center mt-3 fw-light text-muted">Add Item </p>
        {{#with response}}
        <form id="addItemForm" method="post" class="" action='addItem/{{_id}}'>

            <div class="row mx-1 mt-2 g-2">
                <div class="col-md-8  form-floating mb-3 mt-3 ">
                    <input required type="text" class="form-control" name="ItemName" id="Item" value="{{Item}}"
                        placeholder="Item">
                    <label for="Item">Item</label>
                </div>
                <div class="col-md-4  form-floating mt-3 mb-3 ">
                    <input required type="number" class="form-control" name="Thickness" id="thickness" value="{{Thickness}}"
                        placeholder="Thickness">
                    <label for="thickness">Thickness</label>
                </div>
            </div>

            <div class="row g-2  mx-1">
                <div class="col-md-3 form-floating mb-3 ">
                    <input  required type="number" class="form-control widthInput" name="Width" id="widthInput" value="{{Width}}"
                        placeholder="Width">
                    <label for="widthInput">Width</label>
                </div>
                <div class="col-md-3 form-floating mb-3">
                    <input required  type="number" class="form-control heightInput" name="Height" id="heightInput"
                        value="{{Height}}" placeholder="Height">
                    <label for="heightInput">Height</label>
                </div>
                <div class="col-md-2 form-floating mb-3">
                    <input required type="number" class="form-control qtyInput" name="QTY" id="qtyInput" value="{{QTY}}"
                        placeholder="QTY">
                    <label for="qtyInput">Qty</label>
                </div>
                <div class="col-md-4 form-floating mb-3">
                    <input type="number" readonly class="form-control totalSqftInput" name="TotalSQFT" id=""
                        value="{{TotalSQFT}}" placeholder="Total SQFT">
                    <label for="totalSqftInput">Total SQFT</label>
                </div>
            </div>
            <div class="row g-2  mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input required type="text" class="form-control" id="Remarks" name="Remarks" value="{{Remarks}}"
                        placeholder="Remarks">
                    <label for="Item">Remarks</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input required type="text" class="form-control" id="Finish" name="Finish" value="{{Finish}}"
                        placeholder="Finish">
                    <label for="Finish">Finish</label>
                </div>
            </div>
            <div class="row g-2  mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input required type="number" class="form-control rateInput" name="RateSQFT" value="{{RateSQFT}}" id=""
                        placeholder="Rate SQFT">
                    <label for="rateInput">Rate SQFT</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="number" readonly class="form-control amountInput" name="Amount" value="{{Amount}}"
                        id="amountInput" placeholder="Amount">
                    <label for="amountInput">Amount</label>
                </div>
            </div>
            <div align="center">
                <button onclick='addItem()' type="button" class=" btn btn-primary">Cancel </button>
                <button type="submit button" class=" btn btn-primary">Add Item</button>
            </div>

        </form>
        {{/with}}

    </div>



</section>