<section style="padding-top: 6em;padding-bottom:5em;" class=" container-fluid bg-light">

    {{#with response}}

    <div class="card rounded mx-2 mb-3 mt-4  border border-muted ">

        <div class="card-body">
            <h5 class="card-title">Job Card No: {{JobCard}} </h5>
            <div class="row">

                <div class="col-md-6">
                    <p style="display: inline;" class=" text-lg card-text "><b>Site Name:</b> {{SiteName}} </p>
                </div>
                <div align='right' class=" col-md-6">
                    <p class="ms-auto  card-text"><b>Date: </b> {{Date}} </p>
                </div>

            </div>

        </div>
    </div>

    {{/with}}



    <div class="card shadow-sm rounded  mx-2 mb-3 mt-4  border border-muted ">
        <div class="rounded ">


            <table id='itemTable' class="col-md-12  table  table-white border-secondary table-hover table-bordered  ">
                <thead class="bg-dark text-white">
                    <tr>
                        <th colspan="2"></th>

                        <th colspan='3'>
                            <center>All Size in MM</center>
                        </th>
                        <th colspan='7'>
                            <div align='right' class="p-2">
                                <button id="addItemBtn" onclick='addItem()' type="submit  button"
                                    class="mx-auto btn btn-outline-primary">Add Item</button>
                                <button onclick='downloadExcel()' type="submit  button"
                                    class="mx-auto btn btn-outline-primary">Download Excel</button>
                                    
                            </div>
                        </th>
                    </tr>

                    <tr>
                        <th style="width: 1%;">SL</th>
                        <th style="width: 15%;">Item</th>
                        <th style="width: 5%;">Thickness</th>
                        <th style="width: 5%;">Width</th>
                        <th style="width: 5%;">Height</th>
                        <th style="width: 5%;">QTY</th>
                        <th style="width: 7%;">TOTAL SQ.FT</th>
                        <th style="width: 15%;">REMARKS</th>
                        <th style="width: 10%;">FINISH</th>
                        <th style="width: 10%;">RATE-SQFT</th>
                        <th style="width: 10%;">Amount</th>
                        <th style="width: 4px;%;">Update</th>
                        {{!-- <th style="width: 2px;%;">Delete</th> --}}
                    </tr>

                </thead>
                <tbody id='itemTableBody'>
                    {{#with response }}
                    {{#each Items}}
                    {{!-- <form id="indivi_itemForm" method='post' action="editItem."> --}}
                        <tr>
                            <td id="serialNO"></td>
                            <td> {{ItemName}}</td>
                            <td>{{Thickness}}</td>
                            <td>{{Width}}</td>
                            <td>{{Height}}</td>
                            <td>{{QTY}}</td>
                            <td>{{TotalSQFT}}</td>
                            <td>{{Remarks}}</td>
                            <td>{{Finish}}</td>
                            <td>{{RateSQFT}}</td>
                            <td>{{Amount}}</td>
                            <td style="display: flex;">
                                <a href="/editItem/{{_id}}" type=" button" class="mx-auto btn btn-outline-primary"><i
                                        class="bi bi-pen"></i></a>
                                <a onclick="deleteItem('{{_id}}','{{Item}}','{{Thickness}}','{{width}}','{{Height}}','{{QTY}}','{{TotalSQFT}}','{{RateSQFT}}','{{Amount}}')"
                                    type="button" class="ms-1 btn btn-outline-primary"><i class="bi bi-trash"></i></a>
                            </td>
                        </tr>

                        </tr>
                        {{/each}}
                        {{/with}}
                        <tr>
                            <th class="text-end" colspan="6">Total SQFT</th>
                            <th> {{totalSQFT}}</th>
                            <th class="text-end" colspan="3">Total Amount <br>{{totalAmountInWord}} </th>
                            <th>
                                {{totalAmount}}
                            </th>
                            <td> </td>
                        </tr>

                </tbody>

            </table>
        </div>
    </div>



    <div hidden class="mt-3 border border-secondary rounded-top rounded-bottom  container  ">
        <p class="fs-3 text-center fw-light text-muted">Update Item </p>
        {{#with response}}
        <form method="post" action='/updateItem/{{_id}}'>

            <div class="row  mt-2 g-2">
                <div class="col-md-8 form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" name="Item" id="Item" value="{{Item}}" placeholder="Item">
                    <label for="Item">Item</label>
                </div>
                <div class="col-md-4 form-floating mt-3 mb-3 ">
                    <input type="number" class="form-control" name="Thickness" id="thickness" value="{{Thickness}}"
                        placeholder="Thickness">
                    <label for="thickness">Thickness</label>
                </div>
            </div>

            <div class="row g-2">
                <div class="col-md-3 form-floating mb-3 ">
                    <input type="number" class="form-control" name="Width" id="widthInput" value="{{Width}}"
                        placeholder="Width">
                    <label for="widthInput">Width</label>
                </div>
                <div class="col-md-3 form-floating mb-3">
                    <input type="number" class="form-control" name="Height" id="heightInput" value="{{Height}}"
                        placeholder="Height">
                    <label for="heightInput">Height</label>
                </div>
                <div class="col-md-2 form-floating mb-3">
                    <input type="number" class="form-control" name="QTY" id="qtyInput" value="{{QTY}}"
                        placeholder="QTY">
                    <label for="qtyInput">Qty</label>
                </div>
                <div class="col-md-4 form-floating mb-3">
                    <input type="number" readonly class="form-control" name="TotalSQFT" id="totalSqftInput"
                        value="{{TotalSQFT}}" placeholder="Total SQFT">
                    <label for="totalSqftInput">Total SQFT</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="text" class="form-control" id="Remarks" name="Remarks" value="{{Remarks}}"
                        placeholder="Remarks">
                    <label for="Item">Remarks</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="text" class="form-control" id="Finish" name="Finish" value="{{Finish}}"
                        placeholder="Finish">
                    <label for="Finish">Finish</label>
                </div>
            </div>
            <div class="row g-2">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="number" class="form-control" name="RateSQFT" value="{{RateSQFT}}" id="rateInput"
                        placeholder="Rate SQFT">
                    <label for="rateInput">Rate SQFT</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="number" readonly class="form-control" name="Amount" value="{{Amount}}" id="amountInput"
                        placeholder="Amount">
                    <label for="amountInput">Amount</label>
                </div>
            </div>
            <div align="center">
                <button type="submit button" class=" btn btn-primary">Update</button>
            </div>

        </form>
        {{/with}}

    </div>


    <div id="addItemDiv" hidden class="card rounded mx-2 mb-2 mt-3  border border-muted   ">
        <p class=" fs-3 text-center mt-3 fw-light text-muted">Add Item </p>
        {{#with response}}
        <form id="addItemForm" method="post" class="" action='addItem/{{JobCard}}'>

            <div class="row mx-1 mt-2 g-2">
                <div class="col-md-8  form-floating mb-3 mt-3 ">
                    <input type="text" class="form-control" name="Item" id="Item" value="{{Item}}" placeholder="Item">
                    <label for="Item">Item</label>
                </div>
                <div class="col-md-4  form-floating mt-3 mb-3 ">
                    <input type="number" class="form-control" name="Thickness" id="thickness" value="{{Thickness}}"
                        placeholder="Thickness">
                    <label for="thickness">Thickness</label>
                </div>
            </div>

            <div class="row g-2  mx-1">
                <div class="col-md-3 form-floating mb-3 ">
                    <input type="number" class="form-control widthInput" name="Width" id="widthInput" value="{{Width}}"
                        placeholder="Width">
                    <label for="widthInput">Width</label>
                </div>
                <div class="col-md-3 form-floating mb-3">
                    <input type="number" class="form-control heightInput" name="Height" id="heightInput" value="{{Height}}"
                        placeholder="Height">
                    <label for="heightInput">Height</label>
                </div>
                <div class="col-md-2 form-floating mb-3">
                    <input type="number" class="form-control qtyInput"  name="QTY" id="qtyInput" value="{{QTY}}"
                        placeholder="QTY">
                    <label for="qtyInput">Qty</label>
                </div>
                <div class="col-md-4 form-floating mb-3">
                    <input type="number" readonly class="form-control totalSqftInput" name="TotalSQFT" id=""
                        value="{{TotalSQFT}}" placeholder="Total SQFT">
                    <label for="totalSqftInput">Total SQFT</label>
                </div>
            </div>
            <div class="row g-2  mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="text" class="form-control" id="Remarks" name="Remarks" value="{{Remarks}}"
                        placeholder="Remarks">
                    <label for="Item">Remarks</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="text" class="form-control" id="Finish" name="Finish" value="{{Finish}}"
                        placeholder="Finish">
                    <label for="Finish">Finish</label>
                </div>
            </div>
            <div class="row g-2  mx-1">
                <div class="col-md-8 form-floating mb-3 ">
                    <input type="number" class="form-control rateInput" name="RateSQFT" value="{{RateSQFT}}" id=""
                        placeholder="Rate SQFT">
                    <label for="rateInput">Rate SQFT</label>
                </div>
                <div class="col-md-4 form-floating ">
                    <input type="number" readonly class="form-control amountInput" name="Amount" value="{{Amount}}" id="amountInput"
                        placeholder="Amount">
                    <label for="amountInput">Amount</label>
                </div>
            </div>
            <div align="center">
                <button type="submit button" class=" btn btn-primary">Add Item</button>
            </div>

        </form>
        {{/with}}

    </div>



</section>